.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
      background-color: #1b95d2; 
  color: #fff;
  padding: 20px 40px;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer-logo h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #00bfff; /* nice accent color */
}

.footer-links {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s;
}

.footer-links a:hover {
  color: #00bfff;
}

.footer-rights p {
  font-size: 0.9rem;
  color: #aaa;
  margin: 0;
}


.line1{
  display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 130px;
}