.CatCont{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 30%;
    height: 28vh;
    margin: 78px;
    padding: 12px;
    background: white;
    border-radius: 9px;
    box-shadow: 0px 4px 33px -14px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.CatCont select{
    height: 36px;
    width: 188px;
    cursor: pointer;
}